@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Source+Code+Pro:wght@200&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", "Noto Sans KR", monospace, sans-serif;
  font-size: 12px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 44px;
  color: #ffffff;
  background: #181818;
}
